@charset "utf-8";

#comments {
  padding: 10px;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
}

#comments .avatar {
  width: 10%;
  float: left;
}

#comments .comment-info {
  width: 85%;
  float: left;
  line-height: 1em;
  padding-top: 15px;
}
#comments .comment-info .nickname {
  font-size: 18px;
  font-weight: bold;
}
#comments .comment-info .time {
  font-size: 13px;
  color: #999999;
}
#comments .comment-info .content {
  border-top: 2px dotted #cccccc;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 300;
}