@charset "utf-8";

#comments {
  padding: 10px;
  border-top: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  letter-spacing: 0.05em;
}

#comments .avatar {
  width: 10%;
  float: left;
}

#comments .comment-info {
  width: 85%;
  float: left;
  line-height: 1em;
  padding-top: 5px;
}
#comments .comment-info .nickname {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}
#comments .comment-info .time {
  font-size: 13px;
  color: #999999;
}
#comments .comment-info .content {
  border-top: 2px dotted #cccccc;
  padding-top: 5px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5em;
  width: auto;
}

#comments input, #comments textarea, #comments button {
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  border-radius: 2px;
}
#comments input {
  width: 28%;
  margin: 0;
  padding: 5px;
  margin-right: 2%;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
}
#comments textarea {
  width: 96%;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  padding: 5px;
}
#comments button {
  width: 10%;
  margin-left: 5px;
  margin-top: 10px;
  appearance: button;
  cursor: pointer;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  height: 32px;
}